.formulaire {
	margin: 36px 36px 0 36px;
	padding: 10px;
	background: #EFEFEF;
}

.input-nom-societe {
	width: 300px;
}

.signature {
	width: 200px;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 100px;
}

